# Python bytecode files
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# RPM build files
*.rpm
*.spec.in
*.tar.gz
*.tar.bz2
*.tar.xz
rpm-build/
BUILD/
BUILDROOT/
RPMS/
SOURCES/
SPECS/
SRPMS/

# System files
.DS_Store
.directory
Thumbs.db
